<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <p>Andrew, Lila, and Tess <br /> are team ALT</p>
        </div>
      </div>
      <div class="twelve wide column">
        <h4 class="ui inverted header">Final Thoughts</h4>
        <% if(loggedIn) { %>
          <p>Nothing caught your eye? Why not <a href="/maps/new" >add your own</a></p>
        <% } else { %>
          <p>Trust us, it's a ton of fun! <a href="/register" > Join the fun</a></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
