<!DOCTYPE html>

<html lang="en">
  <header>
    <h1><a href="/">AltMaps</a></h1>

    <!-- <% if (user logged in) { %> -->

      <!-- <p> Logged in as <b><%=  %></b><p> -->

      <form action="/logout" method="POST" style="margin:10px">
        <input type="submit" value="Logout">
      </form>
    <!-- <% } else { %> -->

        <!-- login form in navbar? -->
    <form action="/maps" method="POST" style="margin:100px">
      <div><label for="user">Username:</label>
      <input type="text" name="user" style="width: 300px"></div>
      <div><label for="password">Password:</label>
      <input type="password" name="password" style="width: 300px"></div>
      <input type="submit" value="Login">
    </form>

      <div><a href="/register">Register</a></div>
    <!-- <% } %> -->
  </header>
</html>
