<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login - Altmaps</title>

  <% include partials/_styles-and-scripts %>

</head>

  <body>
    <% var active = {home: "", maps: "active", profile: ""};
        var hidden = "hidden"; %>
    <% include partials/_header %>

    <!-- Page Contents -->
    <div class="pusher">

      <div class="ui inverted vertical masthead center aligned segment small">
        <% include partials/_top_nav %>
      </div>

      <% if(loggedIn) { %>
      <div class="ui container segment">
        <form action="/login" method="POST"class="ui form">
          <div class="field">
            <label>Map Title</label>
            <input type="text" name="title" placeholder="Greatest Spots for...">
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" name="description" placeholder="Any other details?">
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>
      <% } else { %>
        <div class="ui container segment">
          Please login to add maps
        </div>
      <% } %>
      <% include partials/_footer %>

    </div>

  </body>
</html>
