<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Altmaps - Home Page</title>

    <% include partials/_styles-and-scripts %>

  </head>

  <body>
    <nav> <% /* include partials/_header */ %> </nav>

    <h3>List of maps</h3>
    <ul>
      <li>
        Map...
      </li>
    </ul>


  </body>
</html>
