<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Altmaps - Profile</title>

    <% include partials/_styles-and-scripts %>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>

  <body>
    <nav> <% /* include partials/_header */ %> </nav>

    <h2>Victoria Beaches</h2>
    <div id="map"></div>
    <div>My favourite beach access points, including some exciting surprises!</div>
    <h3>Pins</h3>
    <ul>
      <li>Awesome pin 1</li>
      <li>Awesome pin 2</li>
      <li>Awesome pin 3</li>
      <li>Awesome pin 4</li>
    </ul>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR_ZslJ7CLPYXoz9hg4Xo8YUkUaQLqNDM&callback=initMap">
  </script>
  </body>
</html>
