<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Register - Altmaps</title>

  <% include partials/_styles-and-scripts %>
  <script type="text/javascript" src="/scripts/register.js"></script>
  <script type="text/javascript" src="../server.js"></script>

</head>

  <body>
    <% var active = {home: "", maps: "", profile: ""};
        var hidden = "hidden"; %>
    <% include partials/_header %>

    <!-- Page Contents -->
    <div class="pusher">

      <div class="ui inverted vertical masthead center aligned segment small">
        <% include partials/_top_nav %>
      </div>

      <div class="ui container segment">
        <form action="/register" method="POST"class="ui form">
          <div class="field">
            <label>Username</label>
            <input id="username" type="text" name="username" placeholder="Username">
          </div>
          <div class="field">
            <label>Email</label>
            <input id="email" type="text" name="email" placeholder="you@...">
          </div>
          <div class="field">
            <label>First Name</label>
            <input id="firstname" type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input id="lastname" type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>Password</label>
            <input id="password" type="password" name="password" placeholder="Enter Password">
          </div>
          <button class="ui button" type="submit">Submit</button>
        </form>
      </div>

      <% include partials/_footer %>

    </div>

  </body>
</html>
