<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Altmaps - Profile</title>

    <% include partials/_styles-and-scripts %>
    <script type="text/javascript" src="/scripts/profile.js"></script>
</head>

  <body>
    <% var active = {home: "", maps: "", profile: ""};
        var hidden = "hidden"; %>
    <% include partials/_header %>

    <!-- Page Contents -->
    <div class="pusher">

      <div class="ui inverted vertical masthead center aligned segment small">
        <% include partials/_top_nav %>
      </div>

      <% if(loggedIn) { %>
      <div class="ui container segment">
        <div class="ui segment">
          <h1>-<%= username %>-</h1>
        </div>
      <div class="ui segment">
        <div class="ui three column very relaxed grid">
          <div class="column">
            <img src="/images/map_placeholder.jpg">
            <p>This is me. I don't have much to say, but now that I think of it, let me tell you about the last burger I ate. That was a year ago. I still dream about it. But now that cows have gone extinct, there isn't much one can do aside from dreaming...</p>
          </div>
          <div class="ui vertical divider">
          </div>
          <div class="column">
            <h3>Favorite Maps</h3>
            <div id="fav" class="ui list">
            </div>
          </div>
          <div class="column">
            <h3>Contributor on</h3>
            <div id="contrib" class="ui list">
            </div>
          </div>
        </div>
      </div>
      </div>
      <% } else { %>
      <div class="ui container segment">
        Please login to view user profiles
      </div>
      <% } %>

      <% include partials/_footer %>

    </div>

  </body>
</html>
